// app global css in SCSS form
@import "quasar.variables.scss";

.menu {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 2.5rem 5px;
  position: fixed;
  transition: padding 0.3s ease, boxShadow 0.3s ease;
  color: $dark;
  z-index: 2000;

  &.menu-primary {
    background-color: $primary;

    .menu-item a {
      color: #fff;
    }

    .menu-more {
      color: #fff;
    }
  }

  &.menu-transparent {
    background-color: transparent;

    .menu-more {
      color: $secondary;
    }
  }

  &-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .title {
      padding-left: 8px;
      margin: 0;
      color: #fff;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;

      span {
        font-size: .8rem;
        font-weight: 300;
        display: block;
        text-align: end;
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 20px;
    transition: all 0.25s ease;
    color: $primary;
  }

  &-item {
    list-style: none;

    a {
      padding: 15px;
      display: block;
      text-decoration: none;
      opacity: .7;
      font-size: .8rem;
      position: relative;
      transition: all .2s ease;
      text-transform: uppercase;
      color: $dark;

      &.router-link-exact-active, &:hover {
        opacity: 1;
      }

    }
  }
}

.super-menu {
  position: fixed;
  background-color: $primary;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  ul {
    overflow: hidden;
    list-style: none;

    li {
      font-size: 3rem;
      font-weight: 400;
      transition: all .3s ease;
      overflow: hidden;
      list-style: none;

      a {
        padding: 25px 10px;
        display: block;
        position: relative;
        outline: none;
        text-decoration: none;
        color: #fff;
        transition: all .3s ease, transform .4s ease .2s, opacity .3s ease .2s;
        transform: translate(0);

        &:hover {
          letter-spacing: 4px;
        }

        &.router-link-exact-active::after {
          content: "";
          position: absolute;
          top: 20px;
          left: 10px;
          width: 30px;
          height: 4px;
          display: block;
          background: #fff
        }
      }
    }
  }
}

.super-title {
  position: absolute;
  left: 10%;
  top: 45%;
  transform: translate(0, -50%);
  color: #fff;
  width: 45%;
  z-index: 7;
  transition: opacity .5s;
  font-size: 18px;

  .square {
    width: 19em;
    height: 21rem;
    position: relative;
    top: 0;
    left: 0;
    display: block;

    .line {
      position: absolute;
      background: $secondary;
      transition: width .2s linear;

      &.line-01 {
        transition-delay: .2s;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        height: .7em;
      }

      &.line-02 {
        transition-delay: .4s;
        width: .7em;
        top: 0;
        right: 0;
        height: 4em;
      }

      &.line-03 {
        transition-delay: .6s;
        width: 100%;
        bottom: 0;
        right: 0;
        height: .7em;
      }

      &.line-04 {
        transition-delay: .6s;
        width: .7em;
        top: 0;
        left: 0;
        height: 100%;
      }

      &.line-05 {
        transition-delay: .4s;
        width: .7em;
        bottom: 0;
        right: 0;
        height: 4em;
      }
    }
  }

  &-content {
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    padding-left: 3em;

    h1 {
      transform: translate(0, 0);
      font-size: 4em;
      line-height: 1.1em;
      transition: transform .5s ease-out 1.5s, opacity 1.5s ease-out 1.5s;
      padding-bottom: 1.2rem;
      font-weight: 400;
      margin: 0;
    }

    p {
      transform: translate(0, 0);
    }
  }
}

@media screen and (max-width: 1024px) {
  .super-title {
    font-size: 17px;
    &-content {
      top: 60%;
      h1 {
        font-size: 3.5em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .super-title {
    font-size: 15px;
    width: 60%;
    &-content {
      top: 60%;
      h1 {
        font-size: 3.5em;
      }
    }
  }
}

@media screen and (max-width: 667px) {
  .super-title {
    font-size: 12px;
    width: 40%;
    left: 20%;
    top: 55%;
    transform: translate(0, -50%);
    .square {
      width: 16em;
      height: 15rem;
    }
    &-content {
      top: 50%;
      h1 {
        font-size: 2.5em;
        padding-bottom: 10px;
      }
      p {
        font-size: 1.2em;
        line-height: 1.2;
      }
    }
  }
}

@media screen and (max-width: 440px) and (min-height: 600px){
  .super-title {
    font-size: 12px;
    width: 80%;
    left: 10%;
    top: 45%;
    transform: translate(0, -50%);
    .square {
      width: 20em;
      height: 16rem;
    }
    &-content {
      top: 50%;
      h1 {
        font-size: 3.5em;
        padding-bottom: 10px;
      }
      p {
        font-size: 1.2em;
        line-height: 1.2;
        font-weight: 400;
      }
    }
  }
}
